@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

.main-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(255,255,255)
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 30px; 
    font-family: 'Overpass', sans-serif;
} 