@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
.section{
    flex-direction: row;
    display: flex;
    align-content: flex-start;
    width: 100%;
    height: 400px;
}

.colour-section{
    flex-direction: row;
    display: flex;
    align-content: flex-start;
    width: 100%;
    height: 400px;
    background: #EAA58B;
    border-radius: 20px;
}

.photo1{
  float: right;
  width: 100%;
  vertical-align: baseline;
}

.p{
 padding-top: 12px;
 text-align: center;
 padding-left: 30px;
 font-size: 3.2vw;
 position: relative;
 overflow-wrap: break-word;
 font-family: 'Overpass', sans-serif;

}

.content h3{
 padding-top: 125px;
 padding-left: 50px;
 padding-bottom: 0px;
 overflow-wrap: break-word;
 font-size: 1.3vw;
 font-family: 'Overpass', sans-serif;
}

h3{
  padding-top: 125px;
  padding-left: 50px;
  padding-bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Overpass', sans-serif;
}

