.title h1{
    padding-top: 60px;
    text-align:left;
    padding-left: 10px;
    font-size: 45pt;
    position: relative;
}
.context p{
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    padding: none;
    font-size: 10pt;
    position: relative;

}

.section{
    flex-direction: row;
    display: flex;
    align-content: flex-start;
    width: 100%;
    height: 400px;
}

.section h1{
    padding-top: 60px;
    font-size: 20pt;
    position: fixed;
}

.content p{
    padding-top: 10px;
    text-align: left;
    padding: none;
    font-size: 10pt;
    position: relative;

}